<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CheckstyleBuilder"
         name="Checkstyle Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.sf.eclipsecs.core.builder.CheckstyleBuilder">
         </run>
      </builder>
   </extension>
</plugin>